<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PersonalProjects</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}"/>
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}"/>
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}"/>
    {#    <script src="main.js"></script>#}
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <style>
    </style>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}

{% endblock %}
</body>
</html>